{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}

{% block content %}
<div class="container index">

  {% for article in articles_page.object_list %}
  <article>
    <header>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <time datetime="" title="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
    </header>

    <div class="article_content">
      {{ article.summary }}
    </div>

    <div class="meta">
      <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="read_more">Read more &#8594;</a>
      </div>

      <div>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>

    </div>

  </article>

  <div class="separator"></div>
  {% endfor %}

  <nav class="pagination row">
    <div class="col-xs-6 left">
      {% if articles_page.has_next() %}
      <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#8592; Past</a>
      {% endif %}
    </div>
    <div class="col-xs-6 right">
      {% if articles_page.has_previous() %}
      <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future &#8594;</a>
      {% endif %}
    </div>
  </nav>

  <div class="container">
    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup">
      <form action="https://matthewkudija.us12.list-manage.com/subscribe/post?u=55dc59a5176654a0fed6d8145&amp;id=74322d0c56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55dc59a5176654a0fed6d8145_74322d0c56" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    
    <!--End mc_embed_signup-->
      <hr>
  </div>
  

</div>

</div>

{% endblock %}
